<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layout/head') %>
  </head>
  <body class="app sidebar-mini rtl">
    <!-- Navbar-->
    <%- include('layout/header') %>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <%- include('layout/menu') %>
    <main class="app-content">
      <%- include(page) %>
    </main>
    <!-- Essential javascripts for application to work-->
    <script src="js/jquery-3.2.1.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    
  </body>
</html>